*{
    box-sizing: border-box;
    background: transparent;
    margin:0; 
    padding:0;
    font-family: 'Noto Sans TC', sans-serif;
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
} 

/*       --------   member header   --------     */
.MHeader{
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: rgba(255, 255, 255);
    z-index: 1000;
    box-shadow: 0px 0px 2px 0px #00000094;
}
.mheader-logo{
    margin: 0 auto; 
    font-size: 32px;
    color:rgb(22,22,22);
    font-weight: 500;
    font-family: 'Neucha', cursive;
}
.mheader-userinfo{
    display: flex;
    align-items: center;
    position: fixed;
    right:70px;
    top:14px;
}
.mheader-userinfo:hover{
    border-bottom: 4px #CC3E55 solid;
    padding-bottom: 2px;
}
.user-img{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px rgb(22, 22, 22) solid;
    padding: 2px;
}
.user-img-icon{
    width: 21px;
    height: 21px;
    margin: 1px 2px;
}
.user-noimg{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 4px;
    background-color: #8A99AD;
}
.user-displayname{
    font-size: 16px;
    font-weight: bold;
    color: rgb(8, 30, 40);
    margin-left: 10px;
}
#menu-icon{
    width: 30px;
    height:30px;
    position: fixed;
    right:20px;
}


/*       --------   member content   --------     */
.user-total-trip{
    width: 600px;
    background-color: white;
    height: 100vh;
    overflow: auto;
}
.user-card{
    background-color: rgb(8, 30, 40);
    text-align: center;
    padding: 90px 0 20px 0;
}
.user-card-img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 4px auto 10px auto;
}
.user-card-noimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto 10px auto;
    background-color: #8A99AD;
}
#user-card-name{
    color:white;
    font-weight: bold;
    font-size: 24px;
}
#user-card-city{
    color:gray;
    font-size: 12px;
}
#user-card-about{
    color:white;
    font-size: 14px;
    margin-top: 14px;
}
.user-card-statis{
    display: flex;
    justify-content: space-around;
    width: 240px;
    margin: 0 auto;
}
.user-card-like,.user-card-trip{
    color: white;
    font-size: 10px;
    border: 1px white solid;
    border-radius: 30px;
    margin: 20px 5px;
    padding: 3px 0;
    width: 100px;
}
.user-title{
    background-color: rgb(68, 153, 199) ;
    color: white;
    font-size: 16px;
    padding: 12px 0;
    text-align: center;
}
#add-trip-btn,.add-track,.add-surprise{
    width: 340px;
    border: 2px #CC3E55 solid;
    border-radius: 25px;
    margin: 30px auto 0 auto;
    padding: 5px 10px;
    height: 40px;
    line-height:26px;
    text-align: center;
    color:#CC3E55;
}
#add-trip-btn:hover{
    background-color:#CC3E55 ;
    color: white;
}
.add-first-trip-box{
    width: 440px;
    border: 1px #B7C0CD dashed;
    border-radius: 5px;
    margin: 30px auto 0 auto;
    padding: 30px 50px;
    background-color: #E7EAEE;
}
.add-first-trip-p{
    text-align: center;
    color:#a2aab4;
    width: 280px;
    line-height: 26px;
    margin: 0 auto;
}
#add-first-trip-btn{
    width: 160px;
    border-radius: 35px;
    margin: 30px auto 0px auto;
    padding: 14px 10px;
    text-align: center;
    background-color: #CC3E55;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#add-first-trip-btn:hover{
    background-color: #DE2B52;
}
.cards{
    margin: 30px auto;
}
.card{
    margin: 16px auto;
    border-radius: 3px;
    width: 520px;
    position: relative;
    overflow: hidden;
}
.card-title{
    position: absolute;
    left: 36px;
    top: 40%;
    color:rgb(255, 255, 255); 
    font-size: 30px;
    font-weight: 500;
    z-index: 100;
    text-shadow: 0 0 13px black;
}
.card-title-arrow{
    position: absolute;
    right: 28px;
    top: 128px;
    border: 1px #bfc9d6 solid;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    z-index: 100;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 22px;
}
.card-main-container{
    position: absolute;
    left: 36px;
    top: 200px;
    display: flex;
    align-items: center;
    z-index: 100;
}
.card-main{
    color: white;
    margin-right: 45px;
    text-shadow: 0px 0px 2px #303030ed;
    text-shadow: 0 0 13px black;
}
.card-main-line1{
    font-size: 18px;
    font-weight: 500;
}
.card-main-line2{
    font-size: 16px;
}
.card-img, .card-no-img{
   width: 100%;
   height: 280px;
   transform: scale(1,1);
   transition: all 0.15s ease-out;
   z-index: 99;
   -webkit-filter: contrast(0.8);
}
.card-no-img{
    background-color: #00283bc7;
}
.card-no-img:hover{
    background-color: #014768c7;
}
.card-img:hover{
    transform: scale(1.1, 1.1);
}


/* @keyframes glow {
    0% {
        box-shadow: 0 0 5px white;
    }
    100% {
        box-shadow: 0 0 16px 10px rgb(204 62 85 / 92%);
    }
}
.totalStepPoint {
animation: glow 500ms ease-out infinite alternate; 
} */


/*       --------   add & edit trip page   --------     */
#add-trip,#edit-trip{ 
    height:100vh;
    width: 100%;
    position: fixed;
    top:0;
    background-color: rgba(0, 46, 61, 0.911);
    z-index: 1010;
}
.add-pop{
    z-index: 1020;
    position: fixed;
    top: 22px;
    right: 50%;
    transform: translate(50%);
    width: 370px;
    margin: auto;
    background-color: #FDFDFE;
    border-radius: 15px;
    text-align: center;
}
.add-close{
    position: fixed;
    top: 14px;
    right: 20px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
    line-height: 17px;
    background-color: rgb(0, 46, 61);
    border-radius: 10px;
    text-align: center;
}
.add-close:hover{
    background-color: #4B626D;
}

.add-title,.add-when{
    font-size: 24px;
    font-weight: bold;
    margin: 24px 0 18px 0;
    padding-bottom: 18px;
    color: rgb(0, 46, 61);
    border-bottom: 1px rgb(228, 232, 236) solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.add-name,.add-sum,.add-start,.add-end{
    font-weight: bold;
    color:rgb(0, 46, 61);
    text-align: left;
    margin-left: 32px;
}
.each-tripName,.each-tripSum,.each-tripStart,.each-tripEnd{
    width: 307px;
    border: 1px rgb(185, 194, 206) solid ;
    border-radius: 3px;
    padding: 16px;
    margin:  7px 0;
}
/* ::-webkit-datetime-edit-fields-wrapper { background-color: rgb(194, 50, 50); } */
.each-tripSum{
    height: 80px;
}
.add-when{
    font-size: 18px;
    margin: 25px 0 16px 0;
    padding-bottom: 12px;
}
#add-trip-submit,#edit-trip-submit,#delete-trip-submit,#add-trip-submit-approve,#edit-trip-submit-approve{
    background-color: rgb(185, 192, 204);
    width:330px;
    border-radius: 30px;
    margin: 22px auto;
    padding: 13px 5px;
    font-size: 16px;
    color: white;
}
#add-trip-submit-approve,#edit-trip-submit-approve{
    background-color:#CC3E55 ;
}
#delete-trip-submit{
    background-color: white;
    border: 1px rgb(68, 153, 199) solid;
    width:130px;
    color: rgb(68, 153, 199);
    padding: 7px 4px;
}
#delete-trip-submit:hover{
    background-color: #CC3E55;
    border: 1px #CC3E55 solid;
    color: white;
}


/*       --------   side menu   --------     */
#side-menu{
    height:100vh;
    width: 100%;
    position: fixed;
    top:0;
    background-color: rgba(21, 60, 73, 0.918);
    z-index: 20;
}
.menu-pop{
    z-index: 1020;
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100vh;
    padding: 10px 40px;
    background-color: #FDFDFE;
    text-align: left;
}
.menu-close{
    position: fixed;
    top: 24px;
    right: 36px;
    width: 24px;
    height: 24px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(0, 46, 61);
    border-radius: 15px;
    text-align: center;
}
.menu-close:hover{
    background-color: #4B626D;
}
.menu-title{
    font-size: 16px;
    margin: 36px 0 5px 0;
    color: rgb(138, 153, 173);    
}
.menu-user-setting,.menu-friend,.menu-fav,.menu-story,.menu-cookie{
    font-size: 18px;
    font-weight: bold;
    margin: 13px 0;
    padding-bottom: 36px;
    color: rgb(0, 46, 61);
    border-bottom: 1px rgb(228, 232, 236) solid;
}
.menu-friend,.menu-story{
    border: none;
    padding-bottom: 0; 
    margin: 13px 0 -10px 0; 
}
.menu-social{
    display: flex;
    padding: 10px 0 40px 0;
    border-bottom: 1px rgb(228, 232, 236) solid;
}
.menu-social img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.menu-logout{
    width:180px;
    border-radius: 30px;
    margin: 40px auto;
    padding: 6px 5px;
    font-size: 12px;
    font-weight: bold;
    border:2px #CC3E55 solid;
    color:#CC3E55;
    text-align: center;
}
.menu-logout:hover{
    background-color: #CC3E55;
    color: #E5E8ED;
}


/*       --------   map   --------     */
#map { 
    position: fixed; 
    top: 60px; 
    bottom: 0; 
    height: 100vh;
    left: 600px; 
    width:100%;
}
.mapboxgl-ctrl-top-right{
    position: fixed; 
    top: 100px; 
    right: 30px; 
}
.distance-container {
    position: fixed;
    top: 100px;
    right: 10px;
    z-index: 1;
}
.distance-container > * {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
}
#menu {
    display: none;
}
.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}


@media (max-width:1000px){
/*       --------   member content   --------     */
.user-total-trip{
    width: 100%;
    height: 300px;
    margin-left: 0px;
    overflow: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}
.user-card{
    padding: 20px;
    width: 200px;
    margin-right: 22px;
}
.user-card-img{
    margin: 0px auto;
}
.user-card-noimg{
    margin: 10px auto 4px auto;
}
#user-card-name{
    font-size: 20px;
}
.user-card-statis{
    width: 160px;
    margin: 0;
}
.user-card-like,.user-card-trip{
    width: 66px;
}
.user-title{
    display: none;
}
#add-trip-btn{
    margin: 30px 20px 0 auto;
    height: 180px;
    line-height: 22px;
    text-align: left;
    font-size: 14px;
    border-radius: 10px;
}
.add-first-trip-box{
    width: 280px;
    margin: 30px 22px;
    padding: 20px 30px;
    height: 215px;
}
.add-first-trip-p{
    width: 220px;
    line-height: 24px;
}
#add-first-trip-btn{
    width: 140px;
    padding: 12px 10px;
    font-size: 18px;
}
.cards{
    margin: 0;
    display: flex;
    padding-right: 24px;
}
.card{
    margin: 22px 12px;
    width: 300px;
}
.card-title{
    top: 80px;
    font-size: 26px;
    left: 20px;
    width: 230px;
}
.card-title-arrow{
   display: none;
}
.card-main-container{
    top: 180px;
    left: 20px;
}
.card-main{
}
.card-main-line1{
    font-size: 14px;
}
.card-main-line2{
    font-size: 12px;
}
.card-img, .card-no-img{
   height: 240px;
}

}




@media (max-width: 800px) { 
/*       --------   member header   --------     */
.mheader-logo{
    font-size: 30px;
}
.mheader-userinfo{
    right: unset;
    left: 14px;
}
.user-img{
    width: 33px;
    height: 33px;
}
.user-img-icon{
    width: 21px;
    height: 21px;
    margin: 1px 2px;
}
.user-noimg{
    width: 33px;
    height: 33px;
}
.user-displayname{
   display: none;
}
#menu-icon{
    width: 24px;
    height: 24px;
    right: 16px;
}

} 

@media (max-width: 480px){
/*       --------   add & edit trip page   --------     */
.add-pop{
    top: 0;
    width: 100%;
    border-radius: 0;
}
.add-title,.add-when{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 10px;
    margin: 10px 0 14px 0;
}
.each-tripName,.each-tripSum,.each-tripStart,.each-tripEnd{
    width: 85%;
}
.each-tripSum {
    height: 53px;
}
#add-trip-submit,#edit-trip-submit,#delete-trip-submit,#add-trip-submit-approve,#edit-trip-submit-approve{
    width: 66%;
    margin: 10px auto;
}

}
 

