*{
    box-sizing: border-box;
    background: transparent;
    margin:0; 
    padding:0;
    cursor: pointer;
    font-family: 'Noto Sans TC', sans-serif;
}
html{
    background-color: rgba(255, 255, 255);
    scroll-behavior: smooth;
} 
a{
    text-decoration: none;
}


/*  ---------------- header ----------------  */
#header{
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: rgba(255, 255, 255);
    z-index: 1;
}
.logo{
    display: none;
}
.search-input{
    width: 160px;
    border: none;
    border-bottom: 1px #161616 solid;
    padding: 7px 10px;
    outline: none;
    position: fixed;
    top: 22px;
    right: 210px;
    text-align: left;
    z-index: 7;
}
.search-icon{
    position: fixed;
    top: 22px;
    right: 207px;
    width: 22px;
    height: 22px;
    z-index: 7;
}
#search-page{
    height:100vh;
    width: 100%;
    position: fixed;
    top: 60px;
    background-color: rgba(2, 72, 95, 0.596);
    z-index: 6;
}
.search-pop{
    z-index: 7;
    position: fixed;
    top: 70px;
    right: 26px;
    width: 370px;
    margin: auto;
    background-color: #FDFDFE;
    border: 1px rgb(219, 219, 219) solid;
    background-color: rgb(250, 250, 250);
    border-radius:5px;
    outline: none;
    text-align: center;
}
.search-title{
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 25px 0;
    padding: 20px 0px;
    background-color: rgb(243, 245, 247);
    color: rgb(0, 46, 61);
    border-bottom: 1px rgb(228, 232, 236) solid;
    border-bottom-right-radius: 15px;
}
.search-container{
    width:370px;
}
.search-user-box,.search-trip-box{
    width: 370px;
    padding: 12px 0px;
    display: flex;
    align-items: center;
}
.search-user-noimg{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 4px;
    background-color: #8A99AD;
    margin-left: 32px;
}
.search-user-noimg-icon{
    width: 26px;
    height: 26px;
    margin: 1px 3px;
}
.search-user-img{
    width: 44px;
    height: 44px;
    margin-left: 30px;
    border-radius: 50%;
}
.search-user-name{
    color: rgb(0, 46, 61);
    font-size: 16px;
    font-weight: 800;
    margin: 0 10px;
}
.search-trip-noimg{
    width: 42px;
    height: 42px;
    border-radius: 5px;
    background-color: #00283bc7;
    margin-left: 32px;
}


.login-signup-box{
    display: flex;
    align-items: center;
    border: 1px #161616 solid;
    padding: 5px 14px;
    position: fixed;
    top: 12px;
    right: 30px;
    color: #161616;
    font-size: 14px;
}
.login-signup-line{
    font-size: 20px;
    margin: 0 14px 0 5px;
}
.signup{
    font-weight: bold;
    font-size: 15px;
}
.signup:hover, .login:hover, .search-icon:hover{
    color: #CC3E55;
    border-bottom: 3px #CC3E55 solid;
}


/*  ---------------- banner ----------------  */
.banner{
    width: 100%;
    margin: 60px 0 0 0;
}
#elem {
    transform: matrix(8, 0, 0, 7, 0, 70);
    margin: 0 auto;
    transition-duration:0.1s;
    position: fixed; 
    top: 90px;  
    left: calc(50% - 40px);
    color:rgb(22,22,22);
    font-weight: 500;
    font-family: 'Neucha', cursive;
}
.intro-line1,.intro-line2,.intro-line3{
    position: fixed;
    width:100%;
    text-align: center;
    z-index: -1; 
    top: 450px;
    font-size: 38px;
    color:white;
    text-shadow: 0 0 3px #000000d9;
    font-family: 'Saira Semi Condensed', sans-serif;
}
.intro-line1{
    letter-spacing: 4px;
}
.intro-line2{
    top: 500px;
    letter-spacing: 3px;
}
.intro-line3{
    top: 550px;
    letter-spacing: 3px;
}
.banner-desc{
    z-index: -1;
    position: fixed;
    top: 622px;
    font-size: 22px;
    width: 490px;
    right: 50%;
    transform: translate(50%);
    text-align: center;
    color: white;
    line-height: 33px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 3px 0px #303030ed;
    font-family: 'Saira Semi Condensed', sans-serif;
    text-shadow: 0 0 6px black;
}
.banner-img{
    height: 100%;
    min-height: 800px;
    width:96%;
    margin: 0 2%;
    position: fixed;
    top: 160px;
    z-index: -2;
    -webkit-filter: contrast(0.7) ;
}
#header-overlay {
    position: fixed;
    top: 160px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0;
  }



/*  ---------------- features ----------------  */
.features{
    background-color: white;
    margin: 100% auto 0 auto;
    padding: 4px 0 40px 0;
    width:100%;
}
.feature{
    width:80%;
    min-width: 800px;
    max-width: 1100px;
    margin:0 auto;
    display:flex;
    align-items:flex-end ;
    height: 100px;
    text-align: left;
}
.feature-title{
    font-size: 28px;
    width: 35%;
    min-width: 260px;
    font-family: 'Saira Semi Condensed', sans-serif;
}
.feature-content{
    width: 65%;
    min-width: 420px;
    font-size: 16px;
    color: #4B5A6C;
    line-height: 26px;
    letter-spacing: 0.2px;
}
.feature-sep{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px rgb(217, 217, 217) solid;
}
#count{
    display:none;
}



/*  ---------------- content ----------------  */
.content{
    width: 100%;
    margin: 0 auto;
    padding: 130px 30px 100px 30px;
    background-color: rgb(237, 236, 236);
}
.favs-title,
.pops-title{
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1.8px;
    font-family: 'Saira Semi Condensed', sans-serif;
}
.favs-title-des{
    margin: 0 auto 26px auto;
    text-align: center;
    font-size: 15px;
    color: #626B7A;
    font-family: 'Saira Semi Condensed', sans-serif;
}
.favs-title-line{
    width: 80px;
    border-bottom: 4px #626B7A solid;
    margin: 0 auto 48px auto;
}
.favs,
.pops{
    margin: 30px auto 90px auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1400px;
}
.fav,
.pop{
    margin: 20px auto 40px auto;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(211, 211, 211, 0.836);
    width: 45%;
}
.fav-main, .pop-main{
    position: relative;
    margin: 0;
    overflow: hidden;
    height: 400px;
}
.fav-hover-layer{
    position: absolute;
    top:0;
    height:400px;
    width:100%;
    text-align: center;
    padding: 130px 0;
    z-index: 2;
    display: none;
    background-color: rgba(255, 255, 255, 0.555);
}
.fav-hover-layer p{
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(67, 151, 199);
    margin-bottom: 16px;
    text-shadow: 0 0 10px #fdfdfe;
}
.fav-hover-layer img{
    width: 130px;
}
.fav-img, .pop-img{
   width: 100%;
   height: 420px;
   transform: scale(1,1);
   transition: all 0.1s;
   position: absolute;
   top: -20px;
   -webkit-filter: contrast(0.97);
}
.fav-info{
    padding: 18px 0 36px 0;
    position: relative;
    z-index: 0;
}
/* .fav:hover .fav-info{
    background-color: #6AACDF;
} */
/* .fav:hover .fav-info-decoration{
    background-color: #609cca;
} */
.fav:hover .fav-hover-layer{
    display: block;
}
.fav:hover .fav-img{
    display: block;
    transform: translate(0, 20px);
}
.fav-info-decoration{
    position: absolute;
    top: -7px;
    left: 26px;
    height: 14px;
    width: 14px;
    background: rgb(248, 248, 248);
    transform: rotate(45deg);
    z-index: 0;
}
.fav-who,.pop-who{
    display: flex;
    margin: 12px 30px 8px 30px;
    align-items: center;
}
.fav-user-pic,.pop-profile{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin: 0;
   z-index: 1;
}
.fav-user-noimg{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 3px;
    background-color: #8A99AD;
}
.fav-user-img-icon{
    width: 28px;
    height: 28px;
    margin: 1px 2px;
}
.fav-name,
.pop-name{
    color: rgba(1, 20, 71, 0.89);
    font-weight: bold;
    font-size: 16px;
    margin-left: 12px;
}
.fav-trip-name{
    color:rgb(22,22,22); 
    font-size: 17px;
    font-weight:bold;
    font-size: 26px;
    margin: 8px 30px 0 30px;
}
.fav-content,
.pop-content{
   margin: 4px 30px 0px 30px;
   font-size: 15px;
   color: rgb(77, 77, 77);
}


/*  ---------------- index-first-step ----------------  */
.index-first-step-box{
    background-color: rgb(229, 229, 229);
    padding: 30px 0 100px 0;
    margin: 160px -30px -110px -30px;
    text-align: center;
    position: relative;
    height: 340px;
    overflow: hidden;
}
#index-first-step-img{
    width:100%;
    position: absolute;
    top: -909px;
    right:0;
    -webkit-filter: contrast(0.95);
    transform: scale(1,1);
    transition: all 0.3s ease-out;
}
.index-first-step-box:hover #index-first-step-img{
    display: block;
    transform: scale(1.05, 1.05);
}
.index-first-step-layer{
    width:100%;
    height:340px;
    position: absolute;
    top: 0;
    right:0;
    background-color: rgb(0 46 61 / 32%) ;
}
.index-first-step-p{
    color: white;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 22px;
    position: absolute;
    top: 120px;
    right:50%;
    transform: translate(50%);
    letter-spacing: 0.3px;
}


/*  ---------------- footer ----------------  */
.footer{
    background-color: rgb(229, 229, 229);
    padding: 35px 0 60px 0;
    margin: 110px -30px -110px -30px;
    text-align: center;
}
.footer-content{
    display: flex;
    align-items: flex-start;
    text-align: left;
    width:50%;
    max-width: 1000px;
    margin: 20px auto 25px auto;
}
.footer-box{
    width:140px;
    margin-right: 8%;    
}
.footer-title{
    color: rgb(23, 23, 23);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-a, .footer-feed-p, .footer-feed-a{
    color:rgb(148, 150, 151);
    font-size: 15px;
    margin-bottom: 8px;
}
.footer-a:hover, .footer-feed-a:hover{
    color:rgb(80, 79, 79);
    text-decoration: underline;
}
.footer-feed{
    width: 235px;
    margin-right: 8%;
}
.footer-social{
    display: flex;
    width: 70px;
    margin-right: auto;
}
.footer-social img{
    width: 25px;
    height:25px;
    margin-right: 10px;
}
.copyright{
    color: rgb(164, 165, 165);
    font-size: 12px;
}


/*  ---------------- sign up & log in page ----------------  */
#signup-page,#login-page{
    height:100vh;
    width: 100%;
    position: fixed;
    top:0;
    background-color: rgba(21, 60, 73, 0.918);
    z-index: 10;
}
.signup-pop,
.login-pop{
    z-index: 11;
    position: fixed;
    top: 10%;
    right: 50%;
    transform: translate(50%);
    width: 400px;
    /* height: 580px; */
    margin: auto;
    background-color: #FDFDFE;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}
.login-pop{
    /* height: 525px; */
}
.signup-close{
    position: fixed;
    top: 18px;
    right: 20px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
    line-height: 17px;
    background-color: rgb(0, 46, 61);
    border-radius: 50%;
    text-align: center;
}
.signup-close:hover{
    background-color: #40626E;
}
.signup-title{
    font-size: 26px;
    font-weight: bold;
    margin: 25px 0;
    padding-bottom: 20px;
    color: rgb(0, 46, 61);
    border-bottom: 1px rgb(228, 232, 236) solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.signup-fb-btn,.signup-submit,
.login-submit{
    background-color: rgb(59, 89, 152);
    width:350px;
    border-radius: 30px;
    margin: 22px auto 8px auto;
    padding: 13px 5px;
    font-size: 16px;
    color: white;
}
.signup-fb-btn:hover{
    background-color: #4264AA;
}
.signup-fb-note{
    color: rgb(185, 194, 206);
    font-size: 10px;
}
.signup-or{
    color: rgba(0, 46, 61, 0.404);
    font-size: 8px;
    margin: 18px auto;
    padding-top: 3px;
    width: 200px;
    border-top: 1px rgba(212, 212, 212, 0.568) solid ;
}
.signup-name,.signup-email,.signup-psw,
.login-username,.login-psw{
    width: 307px;
    border: 1px rgb(185, 194, 206) solid ;
    border-radius: 3px;
    padding: 16px;
    margin:  7px 0;
}
.signup-email,.signup-psw,
.login-username,.login-psw{
    width: 307px;
}
.signup-submit{
    background-color: rgb(183, 192, 205);
    color: #E5E8ED;
}
.signup-submit-approve{
    background-color: #CC3E55;
    width:350px;
    border-radius: 30px;
    margin: 22px auto 8px auto;
    padding: 13px 5px;
    font-size: 16px;
    color: white;
}
#login-fail-msg{
    color:#CC3E55;
    font-size: 12px;
}
.login-submit{
    background-color: #CC3E55;
    color: white;
}
.login-submit:hover{
    background-color: #E14164;
}
.test-account{
    font-size: 13px;
    color: #12A0CF;
    font-weight: bold;
    border: 1px #12A0CF solid;
    border-radius: 40px;
    width: 161px;
    margin: 16px auto -5px auto;
    padding: 4px 0;
}
.test-account:hover{
    background-color: #12A0CF;
    color: white;
}
.signup-to-login{
    background-color: #F3F5F7;
    font-size: 13px;
    line-height: 65px;
    margin-top: 24px;
    padding: 0 73px;
    border-top: 1px rgb(228, 232, 236) solid ;
    height:65px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
}
.signup-to-login p{
    color: rgb(185, 194, 206);
    margin-right: 20px;
}
.signup-to-login div{
    color: #12A0CF;
    font-weight: bold;
}
@media (max-width: 960px){
    /*  ---------------- index-first-step ----------------  */
.index-first-step-box{
    padding: 0;
    margin: 80px -30px -110px -30px;
}
#index-first-step-img{
    top: -320px;
}
.index-first-step-p{
    font-size: 20px;
}
}


@media (max-width: 800px) {
/*  ---------------- header ----------------  */
#header{
}
.logo{
    display: block;
    margin: 0 auto;
    font-size: 28px;
    color: rgb(22,22,22);
    font-weight: 500;
    font-family: 'Neucha', cursive;
    letter-spacing: -1.5px;
}
.login-signup-box{
    padding: 4px 6px;
    top: 13px;
    right: 28px;
}
.login{
    font-size: 12px;
}
.login-signup-line{
    display: none;
}
.signup{
    display: none;
}



/*  ---------------- banner ----------------  */
#elem {
    display: none;
}
.banner{
    position: relative;
}
.banner-img{
    height: auto; 
    min-height: 0;  
    position: absolute;
    top: 0;
    z-index: 0;
}
.intro-line1,.intro-line2,.intro-line3{
    position: absolute;
    top: 75px;
    font-size: 20px;
    letter-spacing: 2px;
    z-index: 0;
}
.intro-line2{
    top: 100px;
    letter-spacing: 3px;
}
.intro-line3{
    top: 125px;
    letter-spacing: 3px;
}
.banner-desc{
    position: absolute;
    top: 160px;
    font-size: 12px;
    width: 220px;
    line-height: 16px;
    letter-spacing: 0.5px;
    z-index: 0;
}


/*  ---------------- features ----------------  */
.features{
    margin-top: 0px;
    padding: 70% 0 40px 0;
}
.feature{
    width: 85%;
    min-width: unset;
}
.feature-title{
    font-size: 18px;
}
.feature-content{
    font-size: 12px;
    line-height: 18px;
    min-width: 0;
}
#count{
    display:none;
}


/*  ---------------- content ----------------  */
.content{
    padding: 60px 20px 60px 20px;
}
.favs-title{
    font-size: 26px;
    letter-spacing: 1.6px;
}
.favs-title-des{
    margin: 0 auto 26px auto;
    font-size: 14px;
}
.favs-title-line{
    margin: 0 auto 48px auto;
}
.favs{
    margin: 30px auto 90px auto;
    display: block;
    width: 90%;
}
.fav{
    margin: 20px auto 40px auto;
    width: 100%;
}
.fav-main{
    height: 300px;
}
.fav-hover-layer{
    height: 300px;
    padding: 130px 0;
}
.fav-hover-layer p{
    font-size: 24px;
    margin-bottom: 16px;
}
.fav-hover-layer img{
    width: 130px;
}
.fav-img{
    height: 320px;
    position: absolute;
    top: -20px;
}
.fav-info{
    padding: 10px 0 30px 0;
}
.fav:hover .fav-img{
    transform: translate(0, 20px);
}
.fav-info-decoration{
    position: absolute;
    top: -7px;
    left: 26px;
    height: 14px;
    width: 14px;
    background: rgb(248, 248, 248);
    transform: rotate(45deg);
    z-index: 0;
}
.fav-who{
    margin: 8px 30px;
}
.fav-name{
    font-size: 16px;
    margin-left: 12px;
}
.fav-trip-name{
    font-size: 22px;
}
.fav-content{
   font-size: 14px;
}



/*  ---------------- footer ----------------  */
.footer{
    padding: 35px 0 60px 0;
}
.footer-content{
    flex-direction: column;
    align-items: center;
    width:90%;
    margin: 0px auto;
    text-align: center;
}
.footer-box, .footer-feed{
    width:240px;
    margin: 0 auto 16px auto;  
}
.footer-title{
    font-size: 14px;
    margin-bottom: 6px;
}
.footer-a, .footer-feed-p, .footer-feed-a{
    font-size: 12px;
    margin-bottom: 4px;
}
.footer-social{
    width: fit-content;
    margin: 0 auto 16px auto; 
}
.footer-social img{
    width: 22px;
    height: 22px;
    margin: 0 10px;
}
.copyright{
    font-size: 10px;
}



/*  ---------------- sign up & log in page ----------------  */
.signup-pop,
.login-pop{
    width: 300px;
    /* height: 560px; */
}
.login-pop{
    /* height: 500px; */
}
.signup-close{
    top: 10px;
    right: 12px;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 15px;
    padding-left: 1px;
}
.signup-title{
    font-size: 22px;
}
.signup-fb-btn,.signup-submit,
.login-submit{
    width: 250px;
    padding: 13px 5px;
    font-size: 14px;
}
.signup-or{
    width: 160px;
}
.signup-name,.signup-email,.signup-psw,
.login-username,.login-psw{
    width: 227px;
    border-radius: 4px;
    padding: 12px;
    margin: 7px 0;
}
.signup-submit-approve{
    width:250px;
    font-size: 14px;
}
.signup-to-login{
    line-height: 23px;
    padding: 0px 33px;
}
.signup-to-login p{
    margin-right: 10px;
}
}


@media (max-width: 660px){
.features{
    padding: 70% 0 40px 0;
}
.feature{
    min-width: 0;
}
.feature-title{
    font-size: 16px;
    min-width: unset;
    width:210px;
}
}


@media (max-width: 500px){
.features{
    width:90%;
}
.feature-title{
    font-size: 14px;
    min-width: unset;
    width: 160px;
}
.feature-sep {
    padding-bottom: 22px;
    margin-bottom: 8px;
}
.feature-content {
    font-size: 11px;
    line-height: 16px;
    width: 80%;
}
@media (max-width: 400px){
.features{
    padding: 80% 0 40px 0;
}
}


    /*  ---------------- content ----------------  */
.content{
    padding: 50px 14px 40px 14px;
}
.favs-title{
    font-size: 22px;
    letter-spacing: 1.4px;
}
.favs-title-des{
    margin: 0 auto 24px auto;
    font-size: 12px;
}
.favs-title-line{
    margin: 0 auto 40px auto;
}
.favs{
    margin: 20px auto 50px auto;
}
.fav-main{
    height: 240px;
}
.fav-hover-layer{
    height: 240px;
}
.fav-hover-layer p{
    font-size: 22px;
    margin-bottom: 8px;
}
.fav-img{
    height: 260px;
}
.fav-info{
    padding: 8px 0 22px 0;
}
.fav-who{
    margin: 8px 30px;
}
.fav-name{
    font-size: 16px;
}
.fav-trip-name{
    font-size: 20px;
}
.fav-content{
   font-size: 13px;
}


    /*  ---------------- index-first-step ----------------  */
#index-first-step-img{
    top: -80px;
}
.index-first-step-p{
    font-size: 18px;
}
}
