*{
    box-sizing: border-box;
    background: transparent;
    margin:0; 
    padding:0;
}
html{
    background-color: rgb(245, 244, 240);
} 
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
/* header */
.header{
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background-color: rgba(245, 244, 240, 0.952);
    z-index: 1000;
}
.logo{
    /* margin-left: 15px; */
    font-size: 36px;
    font-weight: bold;
    color:rgb(22, 22, 22);
}
.search{
    width: 230px;
    border: 1px rgb(22, 22, 22) solid;
    border-radius: 20px;
    padding: 7px 18px;
    outline: none;
    margin-left: 25px;
    margin-right: auto;
}
.add-trip,.add-track,.add-surprise{
    width: 85px;
    border-right: 1px rgb(78, 90, 106) solid;
    height: 40px;
    line-height:40px;
    margin-right: 14px;
}
.user-img{
    width: 30px;
    height:30px;
    border-radius: 20px;
    margin-left: 12px;
}
.menu-icon{
    width: 30px;
    height:30px;
    margin: 0 20px;
}

/* content */
.user-total-trip{
    width: 360px;
    /* margin-top: 70px; */
    background-color: white;
    height: 100vh;
}
.user-card{
    background-color: rgb(8, 30, 40);
    text-align: center;
    padding: 90px 0 20px 0;
}
.user-card-img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 20px auto 10px auto;
}
#user-card-name{
    color:white;
    font-weight: bold;
}
.user-card-statis{
    display: flex;
    margin: 0 80px;
}
.user-card-like,.user-card-trip{
    color: white;
    font-size: 10px;
    border: 1px white solid;
    border-radius: 30px;
    margin: 20px 5px;
    padding: 3px 0;
    width: 90px;
}
.user-title{
    background-color: rgb(68, 153, 199) ;
    color: white;
    font-size: 16px;
    padding: 12px 0;
    text-align: center;
}
.cards{
    margin: 40px auto;
}
.card{
    margin: 10px auto;
    border-radius: 3px;
    /* box-shadow: 1px 1px 2px 1px rgba(211, 211, 211, 0.836); */
    width: 340px;
    position: relative;
    overflow: hidden;
    /* background:url('/Users/allie/Documents/appworks/github/surprise/public/imgs/b.JPG') top right/100% 100% no-repeat; */
}
.card-title{
    position: absolute;
    left: 25px;
    top: 40%;
    color:rgb(255, 255, 255); 
    font-size: 22px;
    font-weight:bold;
    z-index: 100;
}
.card-main{
    position: absolute;
    left: 25px;
    top: 70%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    z-index: 100;
}
.card-time,.card-days{
    color: white;
    font-size: 12px;
    margin-right: 25px;
}
#card-add-plan,#card-add-track{
    color: white;
    font-size: 12px;
    font-weight: bold;
    /* border: 1px white solid;
    border-radius: 40px; */
    margin: 0 15px;
}
#card-add-plan::before,
#card-add-track::before{
    content: '+';
    color: white;
    font-weight: bold;
    border: 1px white solid;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin: 5px;
}
.card-img{
   width: 100%;
   height: 230px;
   transform: scale(1,1);
   transition: all 0.5s ease-out;
}
.card-img:hover{
    transform: scale(1.1, 1.1);
}


/* add trip page */
#add-trip{
    display: none;
    height:100vh;
    width: 100%;
    position: fixed;
    top:0;
    background-color: rgba(0, 46, 61, 0.911);
    z-index: 1010;
}
.add-pop{
    z-index: 1020;
    position: fixed;
    top: 5%;
    right: 50%;
    transform: translate(50%);
    width: 370px;
    /* height: 580px; */
    margin: auto;
    background-color: #FDFDFE;
    border-radius: 15px;
    /* box-shadow: 1px 1px 1px 1px rgba(158, 158, 158, 0.836); */
    text-align: center;
}
.add-close{
    position: fixed;
    top: 14px;
    right: 20px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
    line-height: 18px;
    background-color: rgb(0, 46, 61);
    border-radius: 10px;
    text-align: center;
}
.add-title,.add-when{
    font-size: 24px;
    font-weight: bold;
    margin: 25px 0;
    padding-bottom: 20px;
    color: rgb(0, 46, 61);
    border-bottom: 1px rgb(228, 232, 236) solid;
    border-bottom-right-radius: 15px;
}
.add-name,.add-sum,.add-start,.add-end{
    font-weight: bold;
    color:rgb(0, 46, 61);
    text-align: left;
    margin-left: 32px;
}
#add-name-input,#add-sum-input,#add-start-input,#add-end-input{
    width: 307px;
    border: 1px rgb(185, 194, 206) solid ;
    border-radius: 3px;
    padding: 16px;
    margin:  7px 0;
}
#add-sum-input{
    height: 80px;
}
.add-when{
    font-size: 18px;
    margin: 25px 0 16px 0;
    padding-bottom: 12px;
}
#add-trip-submit{
    background-color: rgb(185, 192, 204);
    width:330px;
    border-radius: 30px;
    margin: 22px auto;
    padding: 13px 5px;
    font-size: 16px;
    color: white;
}


/* side menu */
#side-menu{
    height:100vh;
    width: 100%;
    position: fixed;
    top:0;
    background-color: rgba(21, 60, 73, 0.918);
    z-index: 20;
    display: none;
}
.menu-pop{
    z-index: 1020;
    position: fixed;
    top: 0;
    right: 0;
    /* transform: translate(50%); */
    width: 260px;
    height: 100vh;
    padding: 10px 40px;
    background-color: #FDFDFE;
    /* border-radius: 15px; */
    /* box-shadow: 1px 1px 1px 1px rgba(158, 158, 158, 0.836); */
    text-align: left;
}
.menu-close{
    position: fixed;
    top: 24px;
    right: 36px;
    width: 24px;
    height: 24px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(0, 46, 61);
    border-radius: 15px;
    text-align: center;
}
.menu-title{
    font-size: 16px;
    margin: 45px 0 5px 0;
    color: rgb(138, 153, 173);    
}
.menu-user-setting,.menu-friend,.menu-fav,.menu-story{
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    padding-bottom: 40px;
    color: rgb(0, 46, 61);
    border-bottom: 1px rgb(228, 232, 236) solid;
}
.menu-friend{
    border: none;
    padding-bottom: 0; 
    margin: 15px 0 -10px 0; 
}
.menu-social{
    display: flex;
    /* justify-content: space-around; */
    padding: 10px 0 40px 0;
    border-bottom: 1px rgb(228, 232, 236) solid;
}
.menu-social img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.menu-logout{
    /* background-color: rgb(59, 89, 152); */
    width:180px;
    border-radius: 30px;
    margin: 40px auto;
    padding: 6px 5px;
    font-size: 12px;
    font-weight: bold;
    border:2px #CC3E55 solid;
    color:#CC3E55;
    text-align: center;
}
.menu-logout:hover{
    background-color: #CC3E55;
    color: #E5E8ED;
}

/*      each trip      */
.plan-track-page{

}
.plan-track-content{
    display: flex;
}
#trip-plan-step,#trip-track-step{
    display: none;
    width: 360px;
    margin: 140px 40px 0 0;
    background-color:rgb(243, 245, 247);
}
.trip-header{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top:0;
    margin-top: 70px;
    height: 70px;
    padding: 10px;
    width: 100%;
    z-index: 10;
}
.trip-header-img{
    width: 20px;
}
.trip-header-name{
    color: rgb(0, 46, 61);
    margin: 0 10px;
}
#card-add-plan,#card-add-track{
    color: rgb(0, 46, 61);
    font-size: 12px;
    font-weight: bold;
    /* border: 1px white solid;
    border-radius: 40px; */
    margin: 0 15px;
}
#card-add-plan::before,
#card-add-track::before{
    content: '+';
    color: rgb(0, 46, 61);
    font-weight: bold;
    border: 1px white solid;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin: 5px;
}
.trip-header-set{
    width:100px;
    border-radius: 20px;
    margin-left: 150px;
    padding: 6px auto;
    text-align: center;
    font-size: 12px;
    color: rgb(78, 90, 106);
    border: 1px rgb(232, 234, 238) solid;
}
.trip-cover{
    /* background:url('surprise/public/imgs/b.JPG') top right/100% 100% no-repeat; */
    background-color: rgba(10, 49, 63, 0.911) ;
    width: 360px;
    height: 270px;
    padding: 100px;
    position: relative;
    text-align: center;
}
.trip-title{
    color: white;
    /* position: absolute;
    top: 40%; */
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
.trip-summary{
    color: white;
    font-size: 16px;
    padding: 12px;
    /* position: absolute;
    top: 300px;
    right: 10%;
    transform: translate(10%); */
}
.trip-cover-img{
    width: 360px;
    height: 270px;
}
.trip-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 15px;
    margin-top: -20px;
    width: 360px;
    height: 80px;
    color: white;
    background-color: rgba(10, 49, 63, 0.781);
}
.trip-steps-box{
    padding: 20px 7px;
}
.trip-start,.trip-end{
    display: flex;
    align-items: center;
}
.trip-start-end-icon{
    width: 46px;
    height:48px;
}
.trip-start-end-p{
    color:rgb(10, 49, 63);
    font-weight: bold;
    margin: 0 10px;
}
.trip-start-end-date{
    color: lightgrey;
    font-size: 10px;
}
.trip-step{
    width: 346px;
    border: 1px rgb(185, 194, 206) solid ;
    border-radius: 15px;
    padding: 16px 10px;
    margin: 15px auto;
    /* background:url('/imgs/b.JPG') top right/100% 100% no-repeat; */
    background-color: white;
    text-align: left;
}
.trip-step-name{
    font-size: 18px;
    font-weight: bold;
    color:rgb(rgb(10, 49, 63));
}
.trip-step-date,.trip-step-time{
    font-size: 10px;
    color: lightgray;
}
.trip-step-story{
    font-size: 12px;
    color: darkgrey;
}
.trip-step-pic{
    width: 326px;
}
.trip-step-edit{
    background-color: rgb(59, 89, 152);
    width:80px;
    /* border: 1px rgb(185, 194, 206) solid ; */
    border-radius: 15px;
    margin: 15px 0 0 240px;
    padding: 6px 5px;
    font-size: 12px;
    color: white;
    text-align: center;
}
.trip-step-add-btn{
    background-color: rgba(59, 88, 152, 0.918);
    width:18px;
    height:18px;
    /* border: 1px rgb(185, 194, 206) solid ; */
    border-radius: 18px;
    margin: 20px 0;
    font-size: 12px;
    color:white;
    text-align: center;
    line-height: 18px;
}
.trip-step-add-last{
    display: flex;
    margin-bottom: 30px;
}
.trip-step-add-last-btn{
    background-color:#cc3e56e3;
    width:26px;
    height:26px;
    /* border: 1px rgb(185, 194, 206) solid ; */
    border-radius: 26px;
    margin: 40px 15px 0 0;
    font-size: 20px;
    color:white;
    text-align: center;
    line-height: 26px;
}
.trip-step-add-last-p{
    width: 290px;
    height: 80px;
    border: 1px rgb(185, 194, 206) solid ;
    border-radius: 20px;
    padding: 16px; 
    margin:  10px 0;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: rgb(0, 46, 61);
}

/* add step page */
#add-plan-step,#add-track-step{
    display: none;
    margin-top:70px;
    height:100vh;
    width: 100%;
    position: fixed;
    top:0;
    background-color: rgba(0, 0, 0, 0.671);;
    z-index: 20;
}
.add-step-pop{
    position: fixed;
    top: 7%;
    right: 50%;
    transform: translate(50%);
    width: 600px;
    background: #FDFDFE;
    border-radius: 15px;
    /* box-shadow: 1px 1px 1px 1px rgba(158, 158, 158, 0.836); */
    text-align: center;
    padding: 7px 20px 30px 20px;
}
.add-step-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.add-step-close{
    position: fixed;
    top: 14px;
    right: 20px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
    line-height: 18px;
    background-color: rgb(0, 46, 61);
    border-radius: 10px;
    text-align: center;
}
.add-step-title{
    font-size: 28px;
    font-weight: bold;
    margin: 25px 0;
    padding-bottom: 20px;
    color: rgb(0, 46, 61);
    border-bottom: 1px rgb(228, 232, 236) solid;
    border-bottom-right-radius: 15px;
}
.add-step-p{
    font-size: 18px;
    /* font-weight: bold; */
    color:rgb(0, 46, 61);
    text-align: left;
    margin-right:15px;
}
.add-step-place,.add-step-name,
.add-step-arrive-date,.add-step-arrive-time,
.add-step-depart-date,.add-step-depart-time,
.add-step-story,
.add-step-pic-box{
    width: 70%;
    border: 1px rgb(185, 194, 206) solid ;
    border-radius: 3px;
    padding: 20px;
    margin:  10px;
    align-self: flex-end;
}
.add-step-arrive-date,.add-step-depart-date{
    width: 40%;
    margin: 10px 5% 10px 0;
}
.add-step-arrive-time,.add-step-depart-time{
    width: 25%;
    margin-right: 0;
}
/* .add-step-arrive,.add-step-depart, */
.add-step-pic-box{
    display: flex;
    width:70%;
    margin: 10px auto;
    align-items: center;
}
.add-step-story{
    height: 250px;
}
.add-step-submit{
    background-color: rgb(185, 192, 204);
    width:150px;
    border-radius: 30px;
    margin-top: 20px;
    padding: 13px 5px;
    font-size: 16px;
    color: white;
}
.add-step-cancel{
    border: 1px rgb(185, 192, 204) solid;
    width:150px;
    border-radius: 30px;
    margin: 22px 10px 22px 0;
    padding: 13px 5px;
    font-size: 16px;
    color: rgb(185, 192, 204);
}
.add-step-remove{
    width: 50px;
    height: 50px;
}


@media (max-width: 800px) {
/* each trip */
.trip-add-step{
    display: flex;
    align-items: flex-end ;
    /* width:100%; */
    height: 300px;
    margin: 200px 0;
    background-color:rgb(243, 245, 247);
    overflow-x: auto;
	white-space: nowrap;
}
.trip-header{
    background-color: rgb(10, 49, 63);
    width: 160px;
    height: 300px;
    padding: 30px 20px;
    text-align: left;
}
.trip-title{
    color: white;
    /* position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%); */
    font-size: 22px;
    font-weight: bold;
    margin: 30px auto;
}
.trip-summary{
    color: white;
    font-size: 16px;
}
.trip-header-set{
    color: darkgray;
    font-size: 10px;
    /* border: 2px rgb(231, 234, 238) solid;
    border-radius: 30px; */
    margin: 5px 0;
    /* padding: 5px 10px; */
    /* width: 90px; */
}
/* .trip-cover{
    width: 360px;
    height: 300px;
    position: relative;
} */
.trip-cover-img{
    /* width: 360px; */
    height:300px;
    margin-left: 16px;
}
/* .trip-flag{
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(50%);
    color: white;
} */
.trip-details{
    padding: 10px 30px;
    text-align: left;
    width: 110px;
    height: 300px;
    color: white;
    background-color: rgba(10, 49, 63, 0.781);
}
.trip-steps-box{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    height: 300px;
}
.trip-start-p,.trip-end-p{
    color:rgb(10, 49, 63);
}
.trip-start-date,.trip-end-date{
    color: lightgrey;
    font-size: 10px;
}
.trip-step{
    width: 300px;
    height: 270px;
    /* border: 1px rgb(185, 194, 206) solid ; */
    border-radius: 15px;
    padding: 16px 0;
    margin: 15px 40px;
    /* background:url('/imgs/b.JPG') top right/100% 100% no-repeat; */
    background-color: white;
    font-size: 16px;
    font-weight: bold;
}
.trip-step-name{
    font-size: 16px;
    font-weight: bold;
}
.trip-step-date,.trip-step-time{
    font-size: 12px;
}
.trip-step-pic{
    width: 300px;
}
.trip-step-edit{
    /* background-color: rgb(59, 89, 152); */
    width:40px;
    border: 1px rgb(185, 194, 206) solid ;
    border-radius: 15px;
    /* margin: 40px auto; */
    padding: 6px 5px;
    font-size: 12px;
}
.trip-step-add-last-p{
    width: 100px;
    height: 260px;
    border: 1px rgb(185, 194, 206) solid ;
    border-radius: 15px;
    padding: 16px;
    margin:  10px 0;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
}
}
