*{
    box-sizing: border-box;
    background: transparent;
    margin:0; 
    padding:0;
}
html{
    background-color: rgba(255, 255, 255);
} 
a{
    text-decoration: none;
}
/* header */
#header{
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: rgba(255, 255, 255);
    z-index: 1000;
}
#logo{
    /* margin: 0 auto; */
    /* font-size: 36px; */
    /* font-weight: bold;
    color:rgb(22, 22, 22); */
}
.search-input{
    width: 200px;
    border: 1px rgb(219, 219, 219) solid;
    background-color: rgb(250, 250, 250);
    border-radius:5px;
    padding: 7px 10px;
    outline: none;
    position: fixed;
    top: 15px;
    left:30px;
    text-align: center;
}
.search-icon{
    position: fixed;
    top: 24px;
    left:88px;
    width: 14px;
    height:14px;
}
#search-page{
    height:100vh;
    width: 100%;
    position: fixed;
    top: 60px;
    background-color: rgba(2, 72, 95, 0.596);
    z-index: 1010;
}
.search-pop{
    z-index: 30;
    position: fixed;
    top: 70px;
    left: 30px;
    /* transform: translate(50%); */
    width: 370px;
    /* height: 580px; */
    margin: auto;
    background-color: #FDFDFE;
    border: 1px rgb(219, 219, 219) solid;
    background-color: rgb(250, 250, 250);
    border-radius:5px;
    outline: none;
    /* border-radius: 15px; */
    /* box-shadow: 1px 1px 1px 1px rgba(158, 158, 158, 0.836); */
    text-align: center;
}
/* .search-close{
    position: fixed;
    top: 97px;
    left: 350px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
    line-height: 18px;
    background-color: rgb(0, 46, 61);
    border-radius: 10px;
    text-align: center;
} */
.search-title{
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 25px 0;
    padding: 20px 0px;
    background-color: rgb(243, 245, 247);
    color: rgb(0, 46, 61);
    border-bottom: 1px rgb(228, 232, 236) solid;
    border-bottom-right-radius: 15px;
}
.search-container{
    width:370px;
}
.search-user-box,.search-trip-box{
    width: 370px;
    padding: 12px 0px;
    display: flex;
    align-items: center;
}
.search-user-img{
    width: 44px;
    margin-left: 30px;
}
.search-user-name{
    color: rgb(0, 46, 61);
    font-size: 16px;
    font-weight: 800;
    margin: 0 10px;
}




.login{
    color: #161616;
    position: fixed;
    top: 20px;
    right: 170px;
}
.signup{
    /* border-radius: 20px; */
    padding: 6px 24px;
    border: 1px #161616 solid;
    color: #161616;
    position: fixed;
    top: 14px;
    right: 28px;
    /* background-color: #161616; */
    /* color: white; */
}
.log-icon{
    display: none;
}

/* banner */
.banner{
    width: 100%;
    margin: 60px 0 0 0;
    /* max-width: 1200px; */
    /* position: relative; */
}
#elem {
    transform: matrix(5, 0, 0, 6, 0, 60);
    /* width: 73px; */
    margin: 0 auto;
    font-weight: 450;
    /* position: relative;
    top: 100px;
    left: 50%;
    width: 50px;
    height: 50px;
    color: black; */
    z-index: 1003;
    transition-duration:1.5s;
    position: fixed; 
    top: 90px;  
    right: 47%;
    color:rgb(22,22,22);
}
.banner-top{
    /* display: flex; */
    height: 100%;
    min-height: 800px;
    /* background-image: url('/imgs/b.JPG');
    background-repeat: no-repeat;
    background-size: 100%; */
    position: fixed;
    top: 160px;
    z-index: -10;
    background-color: rgb(255, 255, 255);
}
.banner-intro{
    position: fixed;
    top: 450px;
    right: 55%;
    transform: translate(55%);
    /* z-index: -5;  */
    font-size: 36px;
    letter-spacing: 3px;
    width: 250px;
    margin: 0 auto;
    color:white;
    display:flex;
    align-items: baseline;
    text-shadow: 0px 0px 2px #303030ed;
}
.intro-line2{
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left:18px;
}
.banner-desc{
    position: fixed;
    top: 530px;
    right: 41%;
    transform: translate(41%);
    font-size: 20px;
    width: 400px;
    margin: 0 auto;
    color:white;
    line-height: 32px;
    border: 1.3px white solid;
    padding: 12px 20px;
    text-shadow: 0px 0px 3px 0px #303030ed;
    box-shadow: 0 0 1px 0px #303030ed;
}
.banner-img{
    /* width: 68%;
    border-radius: 15px;
    margin-right: -22px; */
    width:96%;
    height:85%;
    margin: 0 2%;
}
/* .features, */
.features{
    background-color: white;
    margin: 100% auto 0 auto;
    padding: 4px 0 40px 0;
    width:100%;
}
.feature{
    width:70%;
    min-width: 800px;
    margin:0 auto;
    display:flex;
    align-items:flex-end ;
    height: 100px;
    text-align: left;
}
.feature-title1{
    font-size: 30px;
    font-weight: 600;
    margin: 0 60px 0 0;
    width:30%;
    min-width: 260px;
}
.feature-title2{
    font-size: 30px;
    font-weight: 600;
    margin: 0 60px 0 0;
    width:30%;
    min-width: 260px;
}
.feature-content{
    width:60%;
    min-width: 420px;
    font-size: 14px;
}
.feature-sep{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px rgb(217, 217, 217) solid;
}
#count{
    display:none;
}
#cover{
    height:70vh;
    opacity: 0;
    background-color: rgb(155, 155, 155);
    z-index:1000;
    position: fixed; right:300px
}


/* content */
.content{
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 110px 30px;
    background-color: rgb(237, 236, 236);
}
.favs-title,
.pops-title{
   margin: 0 auto 36px auto;
   text-align: center;
   font-size: 25px;
   font-weight: bold;
}
.favs,
.pops{
    margin: 30px auto 90px auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}
.fav,
.pop{
    /* height: 300px; */
    margin: 20px auto;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(211, 211, 211, 0.836);
    width: 45%;
}
.fav-who,
.pop-who{
    display: flex;
    margin: 12px 30px 8px 30px;
    align-items: center;
}
.fav-profile,
.pop-profile{
   width: 40px;
   height: 40px;
   border-radius: 25px;
   margin: 0 16px 0 0;
}
.fav-name,
.pop-name{
    color: rgba(1, 20, 71, 0.89);
    font-weight: bold;
    font-size: 16px;
}
.fav-main,
.pop-main{
    position: relative;
    margin: 0;
    overflow: hidden;
}
.fav-title,
.pop-title{
    position: absolute;
    left: 14px;
    top: 55%;
    color:rgb(255, 255, 255); 
    font-size: 17px;
    font-weight:bold;
    z-index: 100;
}
.fav-img,
.pop-img{
   width: 100%;
   height: 300px;
   transform: scale(1,1);
   transition: all 0.5s ease-out;
}
.fav-img:hover,
.pop-img:hover{
    transform: scale(1.2, 1.2);
}
.fav-trip-name{
    color:rgb(22,22,22); 
    font-size: 17px;
    font-weight:bold;
    font-size: 26px;
    margin: 8px 30px 0 30px;
}
.fav-content,
.pop-content{
   margin: 4px 30px 36px 30px;
   font-size: 14px;
   color: rgb(77, 77, 77);
}

/* footer */
.footer{
    text-align: center;
    color: #222222;
    font-size: 14px;
    margin: 200px 0 20px 0;
}


/* sign up & login page */
#signup-page,#login-page{
    display: none;
    height:100vh;
    width: 100%;
    position: fixed;
    top:0;
    background-color: rgba(21, 60, 73, 0.918);
    z-index: 1010;
}
.signup-pop,
.login-pop{
    z-index: 1020;
    position: fixed;
    top: 12%;
    right: 50%;
    transform: translate(50%);
    width: 400px;
    height: 580px;
    margin: auto;
    background-color: #FDFDFE;
    border-radius: 15px;
    /* box-shadow: 1px 1px 1px 1px rgba(158, 158, 158, 0.836); */
    text-align: center;
}
.login-pop{
    height: 525px;
}
.signup-close{
    position: fixed;
    top: 18px;
    right: 20px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
    line-height: 18px;
    background-color: rgb(0, 46, 61);
    border-radius: 10px;
    text-align: center;
}
.signup-title{
    font-size: 26px;
    font-weight: bold;
    margin: 25px 0;
    padding-bottom: 20px;
    color: rgb(0, 46, 61);
    border-bottom: 1px rgb(228, 232, 236) solid;
    border-bottom-right-radius: 15px;
}
.signup-fb-btn,.signup-submit,
.login-submit{
    background-color: rgb(59, 89, 152);
    width:350px;
    border-radius: 30px;
    margin: 22px auto 8px auto;
    padding: 13px 5px;
    font-size: 16px;
    color: white;
}
.signup-fb-note{
    color: rgb(185, 194, 206);
    font-size: 10px;
}
.signup-or{
    color: rgba(0, 46, 61, 0.404);
    font-size: 8px;
    margin: 18px auto;
    padding-top: 3px;
    width: 200px;
    border-top: 1px rgba(212, 212, 212, 0.568) solid ;
}
.signup-name,.signup-email,.signup-psw,
.login-username,.login-psw{
    width: 307px;
    border: 1px rgb(185, 194, 206) solid ;
    border-radius: 3px;
    padding: 16px;
    margin:  7px 0;
}
.signup-email,.signup-psw,
.login-username,.login-psw{
    width: 307px;
}
.signup-submit{
    background-color: rgb(183, 192, 205);
    color: #E5E8ED;
}
.login-submit{
    background-color: #CC3E55;
    color: white;
}
.signup-to-login{
    background-color: #F3F5F7;
    color: rgb(185, 194, 206);
    font-size: 13px;
    line-height: 65px;
    margin-top: 24px;
    border-top: 1px rgb(228, 232, 236) solid ;
    height:65px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.signup-to-login a{
    color: #12A0CF;
    font-weight: bold;
}


@media (max-width: 800px) {
/* header */
/* .header{
    height: 60px;
}
.logo{
    font-size: 28px;
}
.login,
.signup{
    display: none;
}
.log-icon{
    display: flex;
    position: fixed;
    top: 15px;
    right: 30px;
} */

/* banner */
/* .banner{
    margin: 80px auto 30px auto;
}
.banner-top{
    
}
.banner-intro{
    position: absolute;
    transform: translate( 20%, 15% );
    font-size: 40px;
    width: 200px; */
    /* margin: 0 auto; */
    /* background: transparent;
}
.intro-line1,
.intro-line2{
    background: transparent;
}
.search{
    width: 200px;
}
.banner-img{
    width: 100%;
} */

.features,
.favs,
.pops{
    /* margin: 40px auto; */
    /* display: flex; */
    /* flex-direction: column;
    width: 90%; */
    /* justify-content: space-between; */
}
/* .feature{
    height: 150px;
    margin: 0 auto;
    border-bottom: 1px lightgray solid;
} */
.feature-title{
    /* font-size: 24px; */
}

/* content */
.content{
    /* width: 100%; */
}
.favs-title,
.pops-title{
   /* font-size: 25px; */
}
/* .favs,
.pops{
    margin: 7px auto 90px auto;
}
.fav,
.pop{
    margin: 25px auto;
    width: 100%;
}
.fav-who,
.pop-who{
    margin: 10px 0;
} */
.fav-profile,
.pop-profile{

}
.fav-name,
.pop-name{
    
}
.fav-main,
.pop-main{
   
}
/* .fav-title,
.pop-title{
    left: 14px;
    top: 35%;
    font-size: 24px;
}
.fav-img,
.pop-img{
   height: 300px;
} */
.fav-img:hover,
.pop-img:hover{

}
.fav-content,
.pop-content{
   /* margin: 12px 20px 24px 20px; */ 
   /* font-size: 13px; */
}
}
